.btn {
  display: inline-block;
  border: 1px solid black;
  padding: 0.5em 0.5em;
  background-color: lightblue;
  color: black;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;

  &:not(.disabled) {
    &:hover {
      background-color: blue;
      color: white;
    }
  }

  &[disabled], &.disabled {
    background-color: lightgrey;
    cursor: not-allowed;
  }

}

